@model PracticeForums.Models.DiscussionViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Thread.Title)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Thread.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread.Message)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Thread.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thread.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thread.PostTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThreadID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
